@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,500,600,800|Raleway:400,500,600,700,800,900');

/*
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    color: #777;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
}

h4 {
    color: #222;
    font-family: "Lato",sans-serif !important;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
}


button:focus{
    outline: none !important;
}

h3 {
    font-size: 24px;
}

p
{
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
}

a:hover {
    text-decoration: none;
}

hr {
	margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}


/* =================
    Home Navigation
====================*/

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.section-title
{
    font-family: 'Lato', sans-serif;
    color: #2154CF;
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 40px;
    margin: 0;
}

.section-h2
{
    font-size: 1rem;
    padding: 0 50px;
}

.h4 
{
    color: #fff;
    font-weight: 700;
}

a, a:hover {
    color: #fff;
}


/* =================
    Main Page
====================*/

select {
	    background: transparent;
    outline: none;
    border: none;
}


.home-bt
{
    position: absolute;
    bottom: 0;
}

.top-contact {
    padding: .125rem 1rem !important;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

.nav-top{
    background: #2B5CD1;
    font-size: 13px;
    transition: .3s all;
}

/*Test*/

.nav-top.hide {
    transform: translateY(-100%);
    display: none;
}

.fixed-top {
    transition: .3s;
}

.fixed-top.hide {
    transform: translateY(-100%);
}


.home i
{
    padding: 5px 5px;
    vertical-align: middle;
}

.home .fa-phone,
.into-icon .fa-phone {
	transform: scaleX(-1);
}

.language {
	margin-right: 10%;
}

.language .nav-link {
    padding: .125rem 0 !important;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

.language .nav-item img {
	width: 33%;
}

.language span {
	margin-left: 5px;
    vertical-align: middle;
} 


.navbar-brand
{
    font-family: 'Ewert';
    color: #fff !important;
        font-size: 2rem;
    letter-spacing: .08rem;
}

.navigation .nav-link
{
    font-family: 'Lato', sans-serif;
    color: #fff !important;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
}

.login
{
    color: #fff;
    line-height: 25px;
    background: #0006ff;
    border-radius: 20px;
    transition: 0.3s;
    padding: 6px 15px;
}

.login:hover
{
    box-shadow: -1px 0px 7px 1px white;
    color: #fff;
}


/* =================
    Our Offers
====================*/
    #offers {
        padding: 100px 0;
    }

    .svg-offer-bt{
            position: absolute;
    bottom: 28px;
    }



    #offers .offer-area,
    #steps .step-service-area {
        display: inline;
        float: left;
        width: 100%;
    }

    .head-title
    {
        display: inline;
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .head-title span
    {
        width: 20%;
        height: 2px;
        background: #F39C12;
        display: inline-block;
        position: relative;
        bottom: 5px;
    }

    .offer-content,
    .step-service-content {
        display: inline;
        float: left;
        width: 100%;
        margin-top: 30px;
    }

    .single-offer {
        border-radius: 15px;
        display: inline;
        float: left;
        text-align: center;
        width: 100%;
        padding: 15px 0;
        transition: 0.3s;
        box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.09);
    }

    .offer-icon,
    .step-service-icon {
        display: inline;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

/*    .offer-icon span {
        border-radius: 50%;
        color: #2154CF;
        font-size: 40px;
        height: 90px;
        line-height: 90px;
        width: 90px;
        border: 2px solid;
        transition: .2s;
    }*/

    .single-offer:hover span
    {
        color: #F39C12;
    }

    .single-offer:hover
    {
        transform: translateY(-20px);
    }


    .offer-signle-content,
    .step-single-service-content {
        display: inline;
        float: left;
        width: 100%;
    }


    .offer-content h4 a,
    .step-single-service-content h4 a {
        color: #000;
    }

/* =================
    Service Stages
====================*/

    #steps .step-service-content .mb-4
    {
        margin-bottom: 3.25rem !important;
    }

    #steps {
        padding: 50px 0;
    }

   .step-single-service {
        display: inline;
        float: left;
        text-align: center;
        width: 100%;
        padding: 35px 5px;
        border: 1px solid #e4e4e4;
        /*box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.25);*/
    }

    .step-single-service:hover {
        transition: .5s;
        transform: translateY(-15px);
        box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.25);
        
    }


    .step-service-icon span {
        border-radius: 50%;
        color: #fff;
        font-size: 30px;
        height: 75px;
        line-height: 75px;
        width: 75px;
        background-color: #59abe3; 
    }


/* =================
    Benefits
====================*/

    #benefits
    {
        background: #2154CF;
        overflow: hidden;
    }

    .benefits-box,
    .benefits-content
    {
        padding: 20px 0;
        color: #fff !important;
    }

    .benefits-title .section-title
    {
        color: #fff !important;
    }

    .benefits-title span {
        width: 20%;
        height: 2px;
        background: #F39C12;
        display: inline-block;
        position: relative;
        bottom: 5px;
    }

    .benefits-content .flex-column i
    {
        font-size: 2rem;
        float: left;
        margin-right: 10px;
        color: #F39C12;
    }

    .benefits-content p
    {
        margin-left: 2.4rem;
        font-size: 1rem;
    }

    .benefit-img {
        padding: 25px;
        width: 450px;
        margin-left: auto;
        position: relative;
        top: 5%;
    }

    .benefit-img img
    {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 10px #fff);
    }
/*
    .benefits-box span
    {
        background: #0b42c7;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
    }
*/

/* =================
    Process
====================*/

#process
{
    padding: 50px 0;
    background-color: #fff;
}

.processImg img {
    width: 100%;
}

.step-process
{
    margin: 20px 0;
}

.step-process span
{
    font-size: 4rem;
    color: #F39C12;
    margin-bottom: 15px;
}

.step-process p {
    text-align: center;
}


/* =================
    Team
====================*/

#team {
    /*padding: 50px 0;*/
    background: #f5f5f5;
}

.teamContent img
{
    /*border-radius: 50%;*/
    transition: all 0.3s;

}

.teamContent .item
{
	padding: 20px;
}


.imgBx
{
	overflow: hidden;
}

.imgBx:hover img
{
    border-radius: 0;
    transform: scale(1.1);
}

.teamContent
{
	margin: 30px 0;
}

.teamInfo
{
    margin: 10px 0;
    display: block;
}

.teamInfo h3
{
    color: #353535;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .03rem;
    margin-bottom: 0;
}

.teamInfo span
{
    font-size: .875rem;
    letter-spacing: .03rem;
    color: #F39C12;
}

	.owl-dots .owl-dot span
	{
		background:#F39C12 !important;
		opacity: .5;
	}

	.owl-dot.active span,
	.owl-dots .owl-dot:hover span
	{
		opacity: 1;
	}

/*Partners*/

#partner
{
	margin: 30px 0;
}

.info-text
{
	color: #fff;
}

.into-icon
{
	color: #F5B700;
}




/*Probe Banner*/

#aa-promo-banner {
    background-image: url("../img/banner.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    /*float: left;*/
    width: 100%;
    padding: 100px 0;
    position: relative;
}

#aa-promo-banner:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#aa-promo-banner .aa-promo-banner-area {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 150px;
    text-align: center;
}

.aa-promo-banner-area h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

.aa-promo-banner-area p {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.aa-promo-banner-area a {
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
}

.aa-view-btn {
    color: #fff;
    background-color: #59abe3;
    padding: 10px 15px;
    font-size: 16px;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.aa-view-btn:hover, .aa-view-btn:focus {
    color: #59abe3;
    background-color: #fff;
}


/* =================
    Tour Service
====================*/

.tour-title {
    background-image: linear-gradient(to right, #1552e6, #1552e6c9, #2154cf00), url(../img/umrah.jpg);
    padding: 50px 80px;
    background-size: auto;
    background-position: center;
    background-position-x: right;
}

#tourPackages{
    margin: 50px 0;
}

.city {
    padding: 25px 10px;
    border-bottom: 1px solid rgba(123, 123, 123, 0.22);
    /*box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.09);*/
}

.city .cityImg img {
    width:100%;
}

.city .cityDescription {
    display: flex;
    justify-content: space-between;
}

.cityDescription .cityName h3 {
    letter-spacing: 1px;
    color: #000;
    font-weight: bold;
    margin-top: 40px;

}


.packagePrice {
    letter-spacing: 2px;
    text-align: center;
    margin: 30px 0;
}

.packagePrice span {
    display: block;
    font-weight: 700;
    font-size: 25px;
    color: #2154cf;
    font-family: sans-serif;
    font-weight: bold;
}

.cityDescription .packageInfo a {
    padding: 11px 12px;
    background: #2154cf;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .03rem;
}


@media (max-width: 480px){


    .city .cityDescription {
        text-align: center;
        display: block;
    }

    .packagePrice {
        margin-top: 40px;
    }

    .packageInfo {
        padding-bottom: 12px;
    }
}


/* =================
     Sending Resume and Jobs
====================*/

/* .section-padding3 {
    padding: 70px 0;
}

.single-box1, .single-box2 {
    padding: 70px 50px;
    background: #ff9902;
}

.single-box2 {
    background: #111;
}

.single-box2 .template-btn {
    border: 1px solid transparent;
}

.single-box1 h3, .single-box2 h3, .single-box1 p, .single-box2 p {
    color: #fff;
}

.single-box1 .template-btn, .single-box2 .template-btn {
    background: #ffa31c;
}

.template-btn {
    color: #fff !important;
    background: #ff9902;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 15px 30px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all 0.5s;
}

.template-btn:hover {
    background: #111;
}

.single-box2 .template-btn:hover {
    border: 1px solid #ff9902;
} */


/* =================
    Contact
====================*/

#contact {
    padding: 50px 0;
    background: #2154CF;
}

#contact .section-title
{
	color: #fff !important;
}



.into-icon i {
    font-size: 18px;
    color: #ff9902;
    margin-right: 15px;
}


.details-text i {
    margin-right: 10px;
}

.textarea-contact {
    height: 200px;
    width: 100%;
    border: solid 1px rgba(255, 254, 254, 0.5);
    position: relative;
}

.info-text .fa-telegram {
    font-size: 2rem;
}

.textarea-contact textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 20px;
    background-color: transparent;
    float: left;
    z-index: 2;
    font-size: 14px;
    color: #9a9a9a;
    resize: none;
}

.textarea-contact > span {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact {
    height: 40px;
    width: 100%;
    border: solid 1px rgba(255, 254, 254, 0.5);
    position: relative;
    margin-bottom: 30px;
}

.input-contact input[type="text"] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0 20px;
    float: left;
    position: relative;
    background-color: transparent;
    z-index: 2;
    font-size: 14px;
    letter-spacing: 0.03rem;
    color: #fff;
}

.input-contact > span {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact > span.active,
.textarea-contact > span.active {
    color: #ffbf00;
    font-size: 10px;
    top: 0px;
    left: 5px;
    background-color: #2154cf;
    padding: 5px
}

input:focus,
textarea:focus {
    outline: none;
}

.contact-info {
    margin-top: 20px;
}

.contact-info i {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #ffbf00;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
}

.contact-info p {
    display: inline-block;
    margin-right: 20px;
}

.btn-box {
    background: #ffbf00;
    padding: 10px 50px;
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-box:hover,
.btn-box:focus {
    background: #F5B700;
    color: #fff;
    box-shadow: none;
}


.bottom
{
	background: #2154CF;
	color: #fff;
	font-family: 'Lato', sans-serif;
    font-size: 13px;
    border-top: 1px solid;
    padding: 5px 0;
}



@media (max-width: 767px){
	.benefit-img
	{
		display: none;
	}
}

@media (max-width: 500px){
	p
	{
		font-size: 0.8rem !important;
	}

	.section-title
	{
		font-size: 2rem;
	}

	.h4
	{
		font-size: 1.2rem;
	}

	.step-single-process-content p
	{
		text-align:center;
	}
}
